<div class="container mt">
  <h2 class="title-lg mb-md">
    Вопросы #<%= @hashtag.name %>
  </h2>
  <% @questions.each do |question|%>
    <div class="mb-lg">
      <h2 class="title-sm mb"><%= question_link question %></h2>
      <%= render question %>
      <span class="text-bold">Теги:</span>
      <%= render question.hashtags %>
    </div>
  <% end %>
</div>
